.authNav {
  display: flex;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logoutButton {
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: darkred;
}
